body {
    font-family: 'Open Sans';
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#profile_pic {
    height: auto;
    max-width: 20%;
    border-radius: 50%;
}

#hero {
    display: flex;
    flex-direction: row;
}

#msg {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 50px;
}